<nav class="navbar">
    <div class="navbar-inner">
        <a href="#" class="brand active" data-action="home">Treinamentos</a>
        <ul class="nav">
            <li><a href="#" data-action="instrutores">Instrutores</a></li>
        </ul>
    </div>
</nav>

<div id="page">
</div>

<script id="turmasTp" type="text/html">
    <section>
        <hgroup>
            <h1>Turmas</h1>
        </hgroup>
        <table class="table">
            <thead>
                <tr>
                    <th>Treinamento</th>
                    <th>Período</th>
                    <th>Instrutor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Backbone.js</td>
                    <td>14/02/2013 a 18/02/2013</td>
                    <td>Rafa Noronha</td>
                </tr>
            </tbody>
        </table>
    </section>
</script>
<script id="instrutoresTp" type="text/html">
    <section>
        <hgroup>
            <h1>Instrutores</h1>
        </hgroup>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <a href="#" data-action="new">Novo Instrutor</a>
    </section>
</script>
<script id="instrutorTp" type="text/html">
    <td><%= nome %></td>
</script>
<script id="formularioInstrutorTp" type="text/html">
    <section>
        <hgroup>
            <h1>Instrutores</h1>
        </hgroup>
        <form>
            <legend>Cadastro de Instrutor</legend>
            <label>Nome</label>
            <input type="text" name="nome" />
            <div class="form-actions">
                <button type="button" class="btn btn-primary" data-action="submit">Salvar</button>
                <button type="button" class="btn" data-action="cancel">Cancelar</button>  
            </div>
        </form>
    </section>
</script>

@Scripts.Render("~/bundles/app")